{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "dev-expression"
  ]
}
